.reveal .title {
    font-size: 3rem;
    text-transform: none;
}

h2 {
    font-size: 3.5rem !important;
    text-transform: none !important;
}

p, li {
    font-size: 1.5rem;
    /* text-align: left; */
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.title-img {
    /* width: min(35vh, 35vw); */
    width: 40%
}

img {
    border: none !important;
    box-shadow: none !important;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
}

.small-text {
    font-size: 1rem !important;
}

.med-text {
    font-size: 1.5rem !important;
}


figcaption {
    font-size: 1rem;
    margin-bottom:1rem;
}

.references {
    font-size: 0.90rem;
    text-align: left;
}

.reveal .slide-number {
    font-size: 2rem;
}

#footnotes * {
    font-size: 1rem;
}

